.brandLogo {
  padding: 6px 17px;
  background: #707070 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  border-radius: 50%;
  display: inline;
  margin-right: 15px;
}

.brandName {
  text-align: left;
  color: #f3a35d;
  font-size: 20px;
  opacity: 1;
  cursor: pointer;
  font-weight: 550;
  margin-top: 2px;
}

.searchImg {
  position: absolute;
  right: 26px;
  width: 15px;
  cursor: pointer;
}

.myCart {
  width: 25px;
  display: block;
  /* margin-left: auto; */
  cursor: pointer;
  /* margin-right: auto; */
}
.myCartArea {
  position: relative;
}

.navbarBrandArea {
  cursor: pointer;
  margin-right: 1.5rem !important;
}

@media only screen and (max-width: 768px) {
  .myCartArea {
    margin: 1.2em 0 !important;
  }
  .userDropdown {
    margin-left: 0 !important;
    position: relative;
    justify-content: left !important;
    left: 0 !important;
  }
  .navbarBrandArea {
    width: 100%;
    cursor: pointer;
  }
  /* .badge{
        top: -10px !important;
        margin-left: 0 !important;
    } */
}

.badge {
  position: absolute;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  margin-left: 16px;
  top: -8px;
  -webkit-border-radius: 9999px;
  border-radius: 9999px;
  padding: 0.18rem 0.6rem;
  color: rgb(255, 255, 255);
  font-size: 0.5rem;
  font-family: sans-serif;
  vertical-align: text-bottom;
  background-color:#F3A35D;

}

.userDropdown::after {
  display: none;
}

.myCartArea {
  /*            position: absolute;*/
  /*right: 6.5rem;*/
}

.myCartArea svg:hover {
  fill: #fd6363;
  transition: all 0.4s ease-in-out;
}

.user {
  margin: 10cm;
}

.nav_search_form {
  width: 70% !important;
  border-radius: 5em;
}
