.toggleDropdown {
    margin-left: auto;
    border: none;
    background: transparent;
}

.toggleDropdown img {
    width: 9px;
    vertical-align: super;
}

.mainCategory {
    letter-spacing: 0.16px;
    font-size: 14px;
    color: #707070;
}
.mainCategory:hover {
    color: #464444;
    text-decoration: none;
}

.subCategory {
    letter-spacing: 0.16px;
    color: #007bff;
    cursor: pointer;
    background-color: transparent;
    font-size: 12px;
}



.dropdownArea {
    margin-left: 5%;
}
