.products {
  display: flex;
  align-items: center;
  transform: translateX(0);
  transition: all 1s ease-in-out;
  width: 100% !important;
}

.right_top_prod_img {
  min-width: 200px;
  height: 150px;
}
