.globalTextColor {
  color: #f3a35d;
}
.globalHoverBackColor:hover {
  background-color: #f3a35d;
  transition: all 0.4s ease-in-out;
}

.globalHoverTextColor:hover {
  color: white;
}
.globalBackColor {
  background-color: #f3a35d;
}

.globalDeepOrange {
  background-color: #ff570c;
}
.globalBackColor {
  background-color: #f3a35d;
}

.greyLikeColor {
  color: #a0a0a0;
}

.globalFooterColor {
  background-color: #fafafa;
  color: #6b6a6a !important;
}

.globalCopyrightColor {
  background-color: #ebebeb;
}
