
.globalTextColor{
    color:#F3A35D;
}
.globalHoverBackColor:hover{
    background-color:#F3A35D;
    transition: all 0.4s ease-in-out;
}

.globalHoverTextColor:hover{
       color:white;
}
.globalBackColor{
    background-color:#F3A35D;
}