.globalTextColor {
  color: #c84c6e;
}

.globalHoverBackColor:hover {
  background-color: #c84c6e;
  transition: all 0.4s ease-in-out;
}

.globalHoverTextColor:hover {
  color: white;
}

.globalBackColor {
  background-color: #c84c6e;
}

.globalDeepOrange {
  background-color: #ff570c;
}

.deepGlobalColor {
  color: #4f0e28;
}

.greyLikeColor {
  color: #a0a0a0;
}

.globalFooterColor {
  background-color: #fafafa;
  color: #6b6a6a !important;
}

.globalCopyrightColor {
  background-color: #ebebeb;
}

.globalAddToCartBtn {
  background-color: #e652dc;
}
